.game-catalog
    max-width: 1280px
    margin: 0 auto
    padding: 15px
    background-color: rgba(0, 0, 0, 0.3)

    &__header
        margin: 0 auto
        font-size: 25px
        color: #ffffff
        text-align: center

    &__ngif
        width: 100%
        display: flex
        flex-wrap: wrap
        margin: 0 -10px

.categories
    display: flex
    justify-content: space-between
    margin-bottom: 20px

    &__item
        color: white
        text-transform: uppercase
        border: 1px solid white
        background: rgba(0, 0, 0, .4)

        button
            all: unset
            padding: 5px 20px
            cursor: pointer

.game
    margin: 10px
    width: calc(20% - 20px)

    &__title
        margin-bottom: 10px
        font-size: 22px
        font-weight: bold
        color: white
        text-decoration: underline

    &__img

        img
            width: 100%
            display: block

    &__buttons
        display: flex
        justify-content: space-between

    &__play,
    &__favourite
        all: unset
        margin-top: 10px
        padding: 5px 10px
        background: rgba(0, 0, 0, 0.4)
        border: 1px solid white
        color: #ffffff
        transition: all 1s ease 0s
        cursor: pointer

        &:hover
            color: #000000
            background: rgba(255, 255, 255, 0.4)

    &__favourite
        &:before
            content: "Add to favourite"
            display: block

        &.fav
            &:before
                content: "Remove from favourite"

.show-more
    all: unset

    display: block
    padding: 10px 30px
    margin: 30px auto 0
    font-size: 25px
    color: white
    background: rgba(0, 0, 0, .8)
    transition: all 1s ease 0s
    cursor: pointer

    &:hover
        color: #000000
        background: rgba(255, 255, 255, 0.4)

.filters
    width: 100%
    display: flex
    justify-content: space-between

    &__sort
        display: flex
        flex-direction: column
        margin-bottom: 30px
        font-size: 16px
        text-transform: uppercase
        color: white

    select
        padding: 5px 10px
        background-color: white

.empty
    width: 100%
    color: white
    font-size: 20px
    font-weight: bold
    text-align: center

.statistic
    p
        color: white
        font-size: 20px
