<section class="game-catalog">
    <div class="game-catalog__header">
        <h1>Games Catalog</h1>
    </div>
    <div class="statistic">
        <p>Games: <span>{{games.length}}</span></p>
        <p>Games on page: <span>{{limit}}</span></p>
    </div>
    <div class="filters">
        <div class="filters__sort">
            <label for="">
                Отсортировать значения
            </label>
            <select (change)="sortGamesByParams($event.target.value)">
                <option *ngFor="let name of filtersName" value={{name}}>
                    {{name}}
                </option>
            </select>
        </div>

        <div class="filters__sort">
            <label for="">
                Отсортировать по провайдеру
            </label>
            <select (change)="filterByParams('merchant', $event.target.value)">
                <option selected="selected" value="">All</option>
                <option *ngFor="let merchant of merchants | keyvalue" value={{merchant.value.ID}}>
                    {{merchant.value.Name}}
                </option>
            </select>
        </div>
    </div>

    <div class="categories">
        <div class="categories__item">
            <button (click)="filterByParams()">All</button>
        </div>
        <div class="categories__item" *ngFor="let category of categories">
            <button (click)="filterByParams('category', category.ID)">{{category.Name.en}}</button>
        </div>
        <div class="categories__item">
            <button (click)="showFavouritesGames = true">Favourites</button>
        </div>
    </div>

    <div class="game-catalog__wrp">
        <div class="game-catalog__ngif" *ngIf="!showFavouritesGames">
            <div class="game" *ngFor="let game of sortedGames | slice:0:limit">
                <div class="game__title">{{game.Name.en | slice:0:17}}</div>
                <div class="game__img"><img src="https://www.gbchip.com/{{game.Image}}" alt=""></div>
                <div class="game__buttons">
                    <button class="game__play">Play</button>
                    <a class="game__favourite" [ngClass]="game.favClass"
                       (click)="toggleFavourites(game, $event.target)">

                    </a>
                </div>
            </div>
        </div>
        <div class="game-catalog__ngif" *ngIf="showFavouritesGames">
            <div class="game" *ngFor="let game of favouritesGames | slice:0:limit">
                <div class="game__title">{{game.Name.en | slice:0:17}}</div>
                <div class="game__img"><img src="https://www.gbchip.com/{{game.Image}}" alt=""></div>
                <div class="game__buttons">
                    <button class="game__play">Play!</button>
                    <button class="game__favourite fav"
                            (click)="toggleFavourites(game, $event.target)">
                    </button>
                </div>
            </div>
            <div class="empty" *ngIf="!favouritesGames.length">
                SORRY IT IS EMPTY
            </div>
        </div>
    </div>
    <button class="show-more" (click)="showMoreGames()">PLEASE I WANT SEE MORE</button>
</section>
